name: release-packages

on:
  workflow_call:
    inputs:
      plan:
        required: true
        type: string

jobs:
  release-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Publish packages
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: |
          cargo publish --token "${CRATES_TOKEN}"
